
.page-loading {
    position: fixed;
    right: 0;
    bottom: 0;
    background: hsla(0, 0%, 100%, .3);
    z-index: 99999;
    cursor: not-allowed;
    text-align: center;
    display: none;
    left: 0;
    top: 85px;
}


.page-tool {
    padding-top: 60px;
    box-sizing: border-box;
}


.form-row {
    display: flex;
    flex-wrap: wrap;
    float: right;
    padding-right: 12%;
}

.form-element {
    margin-right: 10px;
}

.form-btn {
    margin-right: 10px;
}

.front-page-content {
    position: relative;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
    width: 80%;
    background: #fff;
}

.doc-row {
    padding-bottom: 10px;
}
