<nav class="table-of-contents">
    <ul>
        <li>
            <a href="#%E5%88%9B%E5%BB%BA%E7%94%A8%E6%88%B7"> 创建用户</a>
        </li>
        <li>
            <a href="#%E7%A6%81%E6%AD%A2root%E7%99%BB%E5%BD%95"> 禁止root登录</a>
        </li>
        <li>
            <a href="#%E4%BE%9D%E8%B5%96%E8%BD%AF%E4%BB%B6"> 依赖软件</a>
            <ul>
                <li>
                    <a href="#%E6%9B%B4%E6%96%B0"> 更新</a>
                </li>
                <li>
                    <a href="#%E5%AE%89%E8%A3%85%E5%B9%B6%E9%85%8D%E7%BD%AE-mariadb"> 安装并配置 mariadb</a>
                </li>
                <li>
                    <a href="#%E5%AE%89%E8%A3%85%E5%B9%B6%E9%85%8D%E7%BD%AE-mongodb"> 安装并配置 MongoDB</a>
                </li>
                <li>
                    <a href="#%E5%AE%89%E8%A3%85-redis"> 安装 redis</a>
                </li>
                <li>
                    <a href="#%E5%AE%89%E8%A3%85python3"> 安装python3</a>
                </li>
                <li>
                    <a href="#git"> Git</a>
                </li>
                <li>
                    <a href="#nodejs"> nodejs</a>
                </li>
                <li>
                    <a href="#nginx"> Nginx</a>
                </li>
                <li>
                    <a href="#%E5%8D%87%E7%BA%A7sqlite%E7%89%88%E6%9C%AC"> 升级SQLite版本</a>
                </li>
                <li>
                    <a href="#supervisor"> supervisor</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#%E9%98%B2%E7%81%AB%E5%A2%99"> 防火墙</a>
        </li>
    </ul>
</nav>