aiocontextvars==0.2.2
appdirs==1.4.4
asgiref==3.2.10
beautifulsoup4==4.9.3
contextvars==2.4
Django==3.1.2
django-cors-headers==3.5.0
django-filter==2.4.0
djangorestframework==3.12.1
djangorestframework-jwt==1.11.0
immutables==0.14
importlib-metadata==2.0.0
loguru==0.5.3
Markdown==3.3.1
Pillow==8.0.0
pyee==7.0.4
PyJWT==1.7.1
pyppeteer==0.2.2
pytz==2020.1
soupsieve==2.1
sqlparse==0.4.1
tqdm==4.55.0
urllib3==1.26.2
websockets==8.1
zipp==3.3.0
